/*this is my own file 
    all attribute start data-np-*
    -------------------------------------
    data-np-color[Text Color:Blue,Color Values:(RGB, HEX, HSL, RGBA, HSLA) ]
    data-np-background[color,image,repeat,attachment,position]
    data-np-background-color[Text Color:blue,Color Values:(RGB, HEX, HSL)]
    data-np-background-image[url("paper.gif")]
    data-np-background-repeat[no-repeat,repeat-x,repeat-y]
    data-np-background-attachment[scroll,fixed,local,initial,inherit]
    data-np-background-position[x,y:values:	0% 0%,top,right,left,bottom,center ]
    data-np-background-origin:[ padding-box,border-box,content-box,initial,inherit]
    -------------------------------------
    data-np-border-style[]
    data-np-border-width[]
    data-np-border-color[]

*/

:root {
    --np-blue: #1c84ee;
    --np-indigo: #564ab1;
    --np-purple: #6f42c1;
    --np-pink: #e83e8c;
    --np-red: #ef6767;
    --np-orange: #fa5f1c;
    --np-yellow: #ffcc5a;
    --np-green: #34c38f;
    --np-teal: #050505;
    --np-cyan: #16daf1;
    --np-white: #fff;
    --np-gray: #74788d;
    --np-gray-dark: #343a40;
    --np-gray-100: #f8f9fa;
    --np-gray-200: #e9e9ef;
    --np-gray-300: #f6f6f6;
    --np-gray-400: #ced4da;
    --np-gray-500: #adb5bd;
    --np-gray-600: #74788d;
    --np-gray-700: #495057;
    --np-gray-800: #343a40;
    --np-gray-900: #2b3940;
    --np-primary: #1c84ee;
    --np-secondary: #74788d;
    --np-success: #34c38f;
    --np-info: #16daf1;
    --np-warning: #ffcc5a;
    --np-danger: #ef6767;
    --np-pink: #e83e8c;
    --np-light: #f6f6f6;
    --np-dark: #2b3940;
    --np-primary-rgb: 28,132,238;
    --np-secondary-rgb: 116,120,141;
    --np-success-rgb: 52,195,143;
    --np-info-rgb: 22,218,241;
    --np-warning-rgb: 255,204,90;
    --np-danger-rgb: 239,103,103;
    --np-pink-rgb: 232,62,140;
    --np-light-rgb: 246,246,246;
    --np-dark-rgb: 43,57,64;
    --np-white-rgb: 255,255,255;
    --np-black-rgb: 0,0,0;
    --np-body-color-rgb: 73,80,87;
    --np-body-bg-rgb: 244,245,248;
    --np-font-sans-serif: "Be Vietnam Pro",sans-serif;
    --np-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --np-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --np-body-font-family: var(--bs-font-sans-serif);
    --np-body-font-size: 0.8125rem;
    --np-body-font-weight: 400;
    --np-body-line-height: 1.5;
    --np-body-color: #495057;
    --np-body-bg: #f4f5f8
}


#container {
    position: relative;
    width: 940px;
}

    #container:after {
        content: "";
        display: block;
        clear: both;
        height: 0;
    }

#menu {
    position: relative;
    float: left;
    width: 100%;
    padding: 0 20px;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.15);
    background: #ccc;
}

    #menu, #menu ul {
        list-style: none;
    }

        #menu > li {
            float: left;
            position: relative;
            border-right: 1px solid rgba(0,0,0,.1);
            box-shadow: 1px 0 0 rgba(255,255,255,.25);
            perspective: 1000px;
        }

            #menu > li:first-child {
                border-left: 1px solid rgba(255,255,255,.25);
                box-shadow: -1px 0 0 rgba(0,0,0,.1), 1px 0 0 rgba(255,255,255,.25);
            }

        #menu a {
            display: block;
            position: relative;
            z-index: 10;
            padding: 13px 20px 13px 20px;
            text-decoration: none;
            color: rgba(75,75,75,1);
            line-height: 1;
            font-weight: 600;
            font-size: 12px;
            letter-spacing: -.05em;
            background: transparent;
            text-shadow: 0 1px 1px rgba(255,255,255,.9);
            transition: all .25s ease-in-out;
        }

        #menu > li:hover > a {
            background: #333;
            color: var(--np-primary);
            text-shadow: none;
        }

        #menu li ul {
            position: absolute;
            left: 0;
            z-index: 1;
            width: 200px;
            padding: 0;
            opacity: 0;
            visibility: hidden;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            background: transparent;
            overflow: hidden;
            transform-origin: 50% 0%;
        }


        #menu li:hover ul {
            padding: 15px 0;
            background: #333;
            opacity: 1;
            visibility: visible;
            box-shadow: 1px 1px 7px rgba(0,0,0,.5);
            animation-name: swingdown;
            animation-duration: 1s;
            animation-timing-function: ease;
        }

@keyframes swingdown {
    0% {
        opacity: .99999;
        transform: rotateX(90deg);
    }

    30% {
        transform: rotateX(-20deg) rotateY(5deg);
        animation-timing-function: ease-in-out;
    }

    65% {
        transform: rotateX(20deg) rotateY(-3deg);
        animation-timing-function: ease-in-out;
    }

    100% {
        transform: rotateX(0);
        animation-timing-function: ease-in-out;
    }
}

#menu li li a {
    padding-left: 15px;
    font-weight: 400;
    color: #ddd;
    text-shadow: none;
    border-top: dotted 1px transparent;
    border-bottom: dotted 1px transparent;
    transition: all .15s linear;
}

    #menu li li a:hover {
        color: var(--np-primary);
        border-top: dotted 1px rgba(255,255,255,.15);
        border-bottom: dotted 1px rgba(255,255,255,.15);
        background: rgba(0,223,252,.02);
    }